.square {
  width: 5px;
  height: 5px;
  margin: 30px;
  padding: 12px;
  border: 1px solid black;
}

.row {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.grid {
  border: 1px solid gray;
  background-color: lightgray;
  display: inline-block;
}
